* text=auto !eol
.github/FUNDING.yml -text
/.svnignore -text
BuildTools/TargetProject.PostBuildStep.bat -text
BuildTools/TargetProject.PreBuildStep.bat -text
BuildTools/__init__/__init__.bat -text
/CMakeLists.txt -text
/README.md -text
/README_EN.txt -text
__init__/__init__.bat -text
__init__/declare_builtins.bat -text
_build/02_generate_config.bat -text
_build/03_configure.bat -text
_build/04_build.bat -text
_build/05_install.bat -text
_build/__init__/__init__.bat -text
_config/_build/02_generate_config/cmd_list.bat.in -text
_config/_build/02_generate_config/cmd_list.sh.in -text
_config/_build/02_generate_config/config.0.bat.in -text
_config/_build/02_generate_config/config.0.sh.in -text
_config/_build/02_generate_config/config.system.bat.in -text
_config/_build/02_generate_config/config.system.sh.in -text
_config/_build/03_configure/multiconfig/cmdline.bat.in -text
_config/_build/03_configure/multiconfig/cmdline.sh.in -text
_config/_build/03_configure/singleconfig/cmdline.bat.in -text
_config/_build/03_configure/singleconfig/cmdline.sh.in -text
_config/_build/04_build/cmdline.bat.in -text
_config/_build/04_build/cmdline.sh.in -text
_config/_build/05_install/cmdline.bat.in -text
_config/_build/05_install/cmdline.sh.in -text
_config/cmake/config.0.vars.in -text
_config/cmake/config.system.vars.in -text
_config/config.0.vars.in -text
_config/config.system.vars.in -text
/changelog.txt -text
deploy/scripts/search_syncseq.bat -text
/license.txt -text
src/_common/common.hpp -text
src/_common/std/tstdio.hpp -text
src/_common/std/tstring.hpp -text
src/bitsync/bitsync.cpp -text
src/bitsync/bitsync.hpp -text
src/bitsync/help.def -text
src/bitsync/help.tpl -text
src/bitsync/main.cpp -text
src/bitsync/main.hpp -text
src/bitsync/version.def -text
src/bitsync/version.tpl -text
src/gencrctbl/main.cpp -text
src/gencrctbl/main.hpp -text
src/mirrorfile/main.cpp -text
src/mirrorfile/main.hpp -text
src/xorfile/main.cpp -text
src/xorfile/main.hpp -text
